h1 {
  text-align: center;
}



body {
    background-color: #96BB9D;
}

#courses-container {
  text-align: center;
  
  width: fit-content;
}

#students-form {
  text-align: center;
}



li {
  list-style-type: none;
  text-align: center;
  border: 1px solid black;
  float: left;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-right: 10px;
  margin-bottom: 10px;
}


button {
    background-color:#E0CDAF;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid black;
    color: black;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-right: 10px;

  }

  button:hover{
    background-color: #E8BB9E;
  }

  button.delete:hover{
    background-color: red;
  }
  
  #delete-bttn{
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: black;
    background-color: #D1CEC5;
    text-align: center;
    transition: all 0.2s;
  }

  #delete-bttn:hover{
    background-color: red;
  }




  .activated {
    background-color: #9E8E91;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid;
    color: black;
  }
  
  