body {
    background-color: rgb(233, 183, 233);
}

button {
    background-color: #E0BFB8;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid black;
    color: black;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
  }
  
  #delete-bttn{
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: black;
    background-color: coral;
    text-align: center;
    transition: all 0.2s;
  }

  #delete-bttn:hover{
    background-color: cyan;
  }




  .activated {
    background-color: rgb(115, 115, 163);
    border-radius: 0px 5px 5px 0px;
    border: 1px solid;
    color: white;
  }